@import url('https://fonts.googleapis.com/css?family=Livvic&display=swap');

$primary: #1061a3;
$secondary: #585858;
$red: rgb(182, 27, 27);

body {
    font-family: 'Livvic', sans-serif;
}

.nav-top {
    margin-top: 20px;
}

.nav-bottom {
    margin-bottom: 20px;
}

.breadcrumb-item {
    a {
        color: $secondary
    }
}

.breadcrumb-item.active {
    a {
        color: $primary
    }
}

.button-right, .text-right {
    text-align: right;
}

.table {
    width: 100%;
}

.dataTables_wrapper {
    padding-left: 0px;
    padding-right: 0px;
}

.search-button {
    margin-top: 30px;
}

.reset-link {
    color: $secondary;
    font-size: 12px;
    display: block;
}

.password-change {
    margin-left: 15px;

    input, label {
        display: inline;
        width: auto;
    }
}

.logout {
    color: $red !important;
}

.delete {
    color: $red !important;
}