@import url(https://fonts.googleapis.com/css?family=Livvic&display=swap);body {
  font-family: 'Livvic', sans-serif;
}

.nav-top {
  margin-top: 20px;
}

.nav-bottom {
  margin-bottom: 20px;
}

.breadcrumb-item a {
  color: #585858;
}

.breadcrumb-item.active a {
  color: #1061a3;
}

.button-right,
.text-right {
  text-align: right;
}

.table {
  width: 100%;
}

.dataTables_wrapper {
  padding-left: 0px;
  padding-right: 0px;
}

.search-button {
  margin-top: 30px;
}

.reset-link {
  color: #585858;
  font-size: 12px;
  display: block;
}

.password-change {
  margin-left: 15px;
}

.password-change input,
.password-change label {
  display: inline;
  width: auto;
}

.logout {
  color: #b61b1b !important;
}

.delete {
  color: #b61b1b !important;
}

